/* You can add global styles to this file, and also import other style files */

html, body { height: 100% !important}
body { overflow: auto; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.y-card{
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .y-card-header{
    order: 1;
  }
  .y-card-body{
    flex-grow: 1;
    order: 2;
    overflow: auto;
    margin: 0;
  
  }
  .y-card-footer{
    order: 3;
    border-top: 1px solid rgb(204, 202, 202);
    padding: 10px;
    background-color: rgb(233, 232, 232);
    
  }

  .p-sidebar-left{
    width: 16rem !important;
    background: #E0EAFC !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .p-treenode{
    background: #E0EAFC !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none !important;
  }